<a href="https://colab.research.google.com/github/Srishtik-ui/Traning_program_of_ml-colud_security/blob/main/workshop_day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = "srishti"
print(name)

srishti

In [ ]:
age = 25
price = 19.99
name = "srishti"
is_student = True
print(age,price,name,is_student)
print(type(age),type(price),type(name),type(is_student))

25 19.99 srishti True
<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
age = int(input("Enter the age:"))
if age >= 18:
    print("welcome")
else:
    print("sorry, too young")

Enter the age:20
welcome

In [ ]:
scores = [85,92,78,95,88]
first = scores[0]
last = scores[-1]

top_3 = scores[0:3]
print(first,last,top_3)

85 88 [85, 92, 78]

In [ ]:
scores = [65,78,92,88,75,95,82,70,85,90]
top_3 = scores[-3:]
middle = scores[3:7]
every_other = scores[::2] #double column use to extrect multiple value
rev_scores = scores[::-1]
print(top_3,middle,every_other,rev_scores)

#1
first_5 = scores[:5]
print(first_5)
#2
above_3 = scores[3:]
print(above_3)
#3
rev_scores = scores[::-1]
print(rev_scores)

[70, 85, 90] [88, 75, 95, 82] [65, 92, 75, 82, 85] [90, 85, 70, 82, 95, 75, 88, 92, 78, 65]
[65, 78, 92, 88, 75]
[88, 75, 95, 82, 70, 85, 90]
[90, 85, 70, 82, 95, 75, 88, 92, 78, 65]

In [ ]:
#Dictionaries

In [ ]:
my_profile = {
    "name" : "srishti",
    "age" : 20,
    "skills" : ["python","java","basic Ml"],
    "scores" :{"maths": 9,"coding": 8}

}
my_profile["skills"].append("Data Analysis")
my_profile["scores"]["coding"]=9
print(my_profile)

{'name': 'srishti', 'age': 20, 'skills': ['python', 'java', 'basic Ml', 'Data Analysis'], 'scores': {'maths': 9, 'coding': 9}}

#Function

In [ ]:
import math
math.sqrt(16)
math.pi
print(math.sqrt(16), math.pi)

4.0 3.141592653589793

In [ ]:
import random
random.randint(1,10)
random.choice([1,2,3])

1

In [ ]:
from datetime import datetime
now= datetime.now()
print(now,now.year)

2026-01-05 05:52:57.211392 2026

In [ ]:
data = ["srishti", "harshita", "annu","bhumi","shubhra"]

for i in range(5):
    age = random.randint(18,25)
    test_score = random.randint(0,100)

    data.append((age, test_score))
print(data)

['srishti', 'harshita', 'annu', 'bhumi', 'shubhra', (25, 5), (24, 99), (19, 99), (22, 44), (18, 57)]

In [ ]:
_,c=1,2
print(c)

2

In [ ]:
data =("alice",(25,"Engineer"))
name, *occupation = data
print(name)
#print(age)
print(occupation)

alice
[(25, 'Engineer')]

In [ ]:
def print_names(*names):
  for name in names:
    print(name)

print_names("srishti", "kashish", "shubhra", "harshita")

srishti
kashish
shubhra
harshita

The `*` operator can be used in a few ways for unpacking:

1.  **Unpacking in assignments:** To assign parts of an iterable to different variables.
2.  **Function arguments (`*args`):** To allow a function to accept an arbitrary number of positional arguments.

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]

#list1.append(list2)
#list1.extend(list2)
print(list1+list2)
#print(list1,list2)

[1, 2, 3, 4, 5, 6]

In [ ]:
dict1 = {"a":1,"b":2}
dict2 = {"c":3,"d":4}

combined_dict = {**dict1,**dict2}
print(f"combined dictionary: {combined_dict}\n")

combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}